<!-- <div class="w3-card-4" style="width:50%">
 
<header class="w3-container w3-blue">
  <h1>Header</h1>
</header>

<div class="w3-container">
<p>A car is a wheeled, self-powered motor vehicle used for transportation.
Most definitions of the term specify that cars are designed to run primarily on roads,
to have seating for one to eight people, to typically have for one to eight people,
to typically have four wheels. (Wikipedia)</p>
</div>

</div>
 -->

<header>
  <nav class="navbar navbar-inverse">
    <h1>King's Cup: <small>drinking with friends!</small>
    </h1>
  </nav>
</header>

<main>
  <section id="gameboard">
    <div class="gameboard">
      <div class="row">
          <div id="top_row">
          
              <% if current_game %>
              <% if @players.count%2==0 %>
                    <%= player_half = (@players.count/2) %>
              <% else %>
                    <% player_half = (@players.count/2) %>
                    <%= (player_half+1) %>
              <% end %>
              
                <% @players.each_with_index do |player, index| %>
                  <% if index < player_half %>
                    <div class="col-md-3">
                      <img src="http://placehold.it/150x100" alt="Responsive image" id="avatar" /> 
                      <p class="<%= @turn.player == player ? 'active' : '' %>"><%= "#{player.name}" %></p>
                    </div>
                  <% end %>
              <% end %>
            <% end %>
        </div>
      </div>
      <div class="row">
        <div id="middle-row">
          <div class="col-md-3">
            <form action="/turn" method="post"> 
              <input type="hidden" name="current_player" value="<%= @current_player %>"></input>
              
              <button class="card_picker">
                <img class="card1" src="/images/cardback.jpg" alt="Responsive image" style="width:100px" />
              </button>
            </form>
          </div>
          <div class="col-md-3">
            <!-- <img src="/images/cardback.jpg" alt="Responsive image" /> -->
            <img class="card1" src="/<%= @turn.card.url %>" style="width:95px"></img>
          </div>
        </div>
      </div>

    

    <div class="row">
    <div id="small-img">
        <% @players.each_with_index do |player, index| %>
          <% if index >= player_half  %>
              <div class="col-md-3">
                <p class="<%= @turn.player == player ? 'active' : '' %>"><strong><%= "#{player.name}" %></strong></p>
                <img class="img-rounded" src="http://placehold.it/150x100?text=<%= player.name %>" alt="Responsive image" id="avatar" /> 
              </div>
          <% end %>
        <% end %>



        <!-- <li>
          <div class="col-md-3 avatar">
            <p>name</p>
        <img src="http://placehold.it/150x100" alt="Responsive image" /> 
      </div>
        </li>
        <li>
          <div class="col-md-3 avatar">
            <p>name</p>
        <img src="http://placehold.it/150x100"  alt="Responsive image"/>
      </div>
        </li>
        <li>
          <div class="col-md-3 avatar">
            <p>name</p>
        <img src="http://placehold.it/150x100" alt="Responsive image" />
      </div>
        </li>
        <li>
          <div class="col-md-3 avatar">
            <p>name</p>
        <img src="http://placehold.it/150x100"  alt="Responsive image"  />
      </div>
        </li> -->
      </ul>
    </div>
  </div>
</div>
  </section>


  <aside id="sidebar">
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="#">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          RULES</a>
      </li>
    </ul>
    <form action="/quit" method="post">
      <button type="submit" class="btn btn-danger">QUIT GAME</button>
    </form>
  </aside>
  
<!-- Adds the rule of the card to the bottom of the page -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5" style="background-color:#E6E6E6">
      <% @string_array =@turn.card.rule.split(' ') %>
      <p><center><%= @string_array.first %></center></p>
      <% @string_array.each_index do |x| %>
      <% if x >1 %>
      <%= @string_array[x] %>
      <% end %>
     <% end %>
    </div>
  </div>
</div>


 




</main>








