<!DOCTYPE html>
<html>
<head>
  <title>GAME_PAGE</title>
</head>
<body>

<!-- <header>
<nav class="navbar navbar-inverse">
  <h1>King's Cup: <small>drinking with friends!</small></h1>
</nav>
    
</head>
</header> -->
<main>
  <section id="gameboard">
    <div class="row">
      <div id="top_row">
        <ul>
          <% if current_game.players.size >= 1 %>
          <li>
            <div class="col-md-3 avatar">
<!--           <img src="/stylesheets/images/don_burks.jpg" alt="Responsive image" id="avatar" />  -->
         <h4><%= current_game.players.first.name %></h4>
        </div>
          </li>
          <% end %>

           <% if current_game.players.size >= 3 %>
          <li>
            <div class="col-md-3 avatar">
<!--           <img src="/stylesheets/images/davidvandusen.jpg" alt="Responsive image" id="avatar"/> -->

           <p> 
           <h4><%= current_game.players.third.name %></h4>
           </p>
        </div>
          </li>
          <% end %>

          <% if current_game.players.size >= 5 %>
          <li>
            <div class="col-md-3 avatar">
<!--           <img src="/stylesheets/images/rosy.jpg" alt="Responsive image" id="avatar" /> -->
           <h4><%= current_game.players.fifth.name %><h4>
        </div>
          </li>
          <% end %>

          <% if current_game.players.size >= 7 %>
          <li>
            <div class="col-md-3 avatar">
<!--           <img src="/stylesheets/images/jeremy_shaki.jpg" alt="Responsive image" id="avatar" /> -->
           <h4><%= current_game.players[6].name %></h4>
        </div>
          </li>
          <% end %>

        </ul>
      </div>
    </div>
  <div class="row">
    <div id="middle-row">
      <ul>
        <li>
          <div class="col-md-3 card">
            <form action="/turn" method="post"> 
              <input type="hidden" name="current_player" value="<%= @current_player %>"></input>
              <button class="card_picker">
                <img class="card1" src="/images/cardback.jpg" alt="Responsive image" style="width:100px" />
              </button>
            </form>
      </div>
        </li>
        <% if @turn.card %>
        <li>
          <div class="col-md-3 card">
            <img class="card1" src="/<%= @turn.card.url %>" style="width:95px"></img>
      </div>
        </li>
        <% end %>
      </ul>
      </div>
    </div>
    <div class="row">
    <div id="small-img">
      <ul>
      <% if current_game.players.size >= 2 %>
        <li>
         <h4><%= current_game.players.second.name %></h4>
          <div class="col-md-3 avatar">
<!--         <img src="/stylesheets/images/sherman.jpg" alt="Responsive image" id="avatar" />  -->
      </div>
        </li>
        <% end %>
        <% if current_game.players.size >= 4 %>
        <li>
         <h4><%= current_game.players.fourth.name %></h4>
          <div class="col-md-3 avatar">
<!--         <img src="/stylesheets/images/khurram_virani.jpg"  alt="Responsive image" id="avatar"/> -->
      </div>
        </li>
        <% end %>
        <% if current_game.players.size >= 6 %>
        <li>
        <h4><%= current_game.players[5].name %></h4>

          <div class="col-md-3 avatar">
<!--         <img src="/stylesheets/images/monica.jpg" alt="Responsive image" id="avatar" /> -->
      </div>
        </li>
        <% end %>
        <% if current_game.players.size >= 8 %>
        <li>
        <h4>
         <%= current_game.players.last.name %>
         </h4>
          <div class="col-md-3 avatar">
<!--         <img src="/stylesheets/images/sylvia_rayner.jpg"  alt="Responsive image" id="avatar"  /> -->
      </div>
        </li>
        <% end %>

      </ul>
    </div>
  </div>
  </section>
<div class = "well rules">
  <div class = "rule">
  <% if @turn.card %>

     <% current_game.players.each_with_index do |player, index| %>
       <% if index == (current_game.current_player - 1) %>
         <strong><%= player.name %>'s turn!</strong><br>
       <% end %>

     <% end %>
   <p><%= @turn.card.rule %></p>
  </div>

    </main>

  <% end %>
</div>


</body>
</html>
</body>

</html>