<!DOCTYPE html>
<html>
<head>
  <title>GAME_PAGE</title>
</head>
<body>

<!-- <header>
<nav class="navbar navbar-inverse">
  <h1>King's Cup: <small>drinking with friends!</small></h1>
</nav>
    
</head>
</header> -->
<main>

  <section id="gameboard">
    <div class="row">
      <div id="top_row">
        <ul>

          <% if current_game.players.size >= 1 %>
          <li>
            <div class="col-md-3 avatar">
          <img src="http://placehold.it/150x100" alt="Responsive image" id="avatar" /> 
        </div>
          </li>
          <% end %>

           <% if current_game.players.size >= 3 %>
          <li>
            <div class="col-md-3 avatar">
          <img src="http://placehold.it/150x100" alt="Responsive image"/>
        </div>
          </li>
          <% end %>

          <% if current_game.players.size >= 5 %>
          <li>
            <div class="col-md-3 avatar">
          <img src="http://placehold.it/150x100" alt="Responsive image" />
        </div>
          </li>
          <% end %>

          <% if current_game.players.size >= 7 %>
          <li>
            <div class="col-md-3 avatar">
          <img src="http://placehold.it/150x100" alt="Responsive image" />
        </div>
          </li>
          <% end %>

        </ul>
      </div>
    </div>
  <div class="row">
    <div id="middle-row">
      <ul>
        <li>
          <div class="col-md-3 card">
            <form action="/turn" method="post"> 
              <input type="hidden" name="current_player" value="<%= @current_player %>"></input>

              <button class="card_picker">
                <img class="card1" src="/images/cardback.jpg" alt="Responsive image" style="width:100px" />
              </button>
            </form>
      </div>
        </li>
        <% if @turn.card %>
        <li>
          <div class="col-md-3 card">
            <img class="card1" src="/<%= @turn.card.url %>" style="width:95px"></img>
            <%= current_game.current_player %>
            <%= @turn.id %>
      </div>
        </li>
        <% end %>
      </ul>
      </div>
    </div>
    <div class="row">
    <div id="small-img">
      <ul>

      <% if current_game.players.size >= 2 %>
        <li>
          <div class="col-md-3 avatar">
            <p>name</p>
        <img src="http://placehold.it/150x100" alt="Responsive image" /> 
      </div>
        </li>
        <% end %>

        <% if current_game.players.size >= 4 %>
        <li>
          <div class="col-md-3 avatar">
            <p>name</p>
        <img src="http://placehold.it/150x100"  alt="Responsive image"/>
      </div>
        </li>
        <% end %>

        <% if current_game.players.size >= 6 %>
        <li>
          <div class="col-md-3 avatar">
            <p>name</p>
        <img src="http://placehold.it/150x100" alt="Responsive image" />
      </div>
        </li>
        <% end %>

        <% if current_game.players.size == 8 %>
        <li>
          <div class="col-md-3 avatar">
            <p>name</p>
        <img src="http://placehold.it/150x100"  alt="Responsive image"  />
      </div>
        </li>
        <% end %>

      </ul>
    </div>
  </div>
  </section>
</main>

<footer>
  <div class = "rule">
<p>PLACEHOLDLER: FOR CURRENT RULE!</p>
<% if @turn.card %>
<%= @turn.card.rule %>
  </div>
  <% end %>
</footer>

</body>
</html>
</body>

</html>